{%extends 'Manage/admin/segur_wrapper.html'%}
{%load static%}
{%block content%}


<div class="container">
  <main class="exchange-main">
    {%include 'Order/exchange_filters.html'%}

    <div class="exchange-cards">

      <div class="exchange-filters__button open-popup" data-popup="exchange">
        <img src="{% static  'Manage/admin/segur/img/filter.svg' %}" alt="filter" class="filters__img">
        <h3 class="filters__title">Фильтры</h3>
        <!-- /.filters__title -->
      </div>
      <!-- /.exchange-filters__button -->

      <!-- Filters Modal -->
      <div class="exchange-filters-modal modal modal-open" id="exchange">
        <div class="close">
          <img src="{% static  'Manage/admin/segur/img/cross.svg' %}" alt="cross">
        </div>
        <!-- /.close -->

        <div class="exchange-filters-modal__inner">
          <div class="exchange-filters-modal__items">
            <div class="exchange-filters-modal__item">
              <div class="filters__category">
                <p>Все рубрики</p>
                <img src="{% static  'Manage/admin/segur/img/shevron.svg' %}" alt="shevron" class="filters__category-img">
              </div>
              <!-- /.filters__category -->

              <h3 class="filters__title budget">Бюджет</h3>
              <!-- /.filters__title -->
              <div class="budget__inputs">
                <div class="budget__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="budget_0_1000_-m">
                  <label class="checkbox_label"  for="budget_0_1000_-m">До 1 000 ₽</label>
                </div>
                <div class="budget__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="budget_1000_3000_-m">
                  <label class="checkbox_label"  for="budget_1000_3000_-m"> 1 000 ₽ - 3 000 ₽</label>
                </div>
                <div class="budget__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="budget_3000_10000_-m">
                  <label class="checkbox_label"  for="budget_3000_10000_-m">3 000 ₽ - 10 000 ₽</label>
                </div>
                <div class="budget__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="budget_10000_30000_-m">
                  <label class="checkbox_label"  for="budget_10000_30000_-m">10 000 ₽ - 30 000 ₽</label>
                </div>
                <div class="budget__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="budget_30000_10000000000000_-m">
                  <label class="checkbox_label"  for="budget_30000_10000000000000_-m">От 30 000 ₽</label>
                </div>

                <div class="budget__range">
                  <input id="price_from-m" type="text" name="" class="budget__range-input number_filter filter_params" placeholder="От руб.">
                  <input id="price_to-m" type="text" name="" class="budget__range-input number_filter filter_params" placeholder="До руб.">
                </div>
              </div>
              <!-- /.budget__inputs -->
            </div>
            <!-- /.exchange-filters-modal__item -->

            <div class="exchange-filters-modal__item">
              <h3 class="filters__title filter-offers">Количество предложений</h3>
              <!-- /.filters__title -->
              <div class="filter-offers__inputs">
                <div class="filter-offers__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offers_0_5_-m">
                  <label class="checkbox_label"  for="offers_0_5_-m">До 5 (117)</label>
                </div>
                <div class="filter-offers__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offers_5_10_-m">
                  <label class="checkbox_label"  for="offers_5_10_-m">От 5 до 10 (46)</label>
                </div>
                <div class="filter-offers__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offers_10_15_-m">
                  <label class="checkbox_label"  for="offers_10_15_-m">От 10 до 15 (24)</label>
                </div>
                <div class="filter-offers__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offers_15_20_-m">
                  <label class="checkbox_label"  for="offers_15_20_-m">От 15 до 20 (17)</label>
                </div>
                <div class="filter-offers__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offers_20_100000_-m">
                  <label class="checkbox_label"  for="offers_20_100000_-m">От 20 (24)</label>
                </div>
              </div>
              <!-- /.filter-offers__inputs -->

              <h3 class="filters__title filter-tasks">Тип заданий</h3>
              <!-- /.filters__title -->
              <div class="filter-tasks__inputs">
                <div class="filter-tasks__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="online-m">
                  <label class="checkbox_label"  for="online-m">Онлайн-задания</label>
                </div>
                <div class="filter-tasks__check">
                  <input class="filter_params checkbox_filter" type="checkbox" name="" id="offline-m">
                  <label class="checkbox_label"  for="offline-m">Оффлайн-задания</label>
                </div>
              </div>
              <!-- /.filter-tasks__inputs -->

            </div>
            <!-- /.exchange-filters-modal__item -->
          </div>
          <!-- /.exchange-filters-modal__items -->
          <div class="statics card">
<h3 class="statics__title">Статистика биржи за&nbsp;месяц</h3>
<!-- /.statics__title -->
<ul class="statics__list">
    <li class="statics__item">
        <p class="statics__text">Проектов</p>
        <span class="statics__result">16 182</span>
    </li>
    <!-- /.statics__item -->
    <li class="statics__item">
        <p class="statics__text">На сумму (₽)</p>
        <span class="statics__result">167 083 625</span>
    </li>
    <!-- /.statics__item -->
    <li class="statics__item">
        <p class="statics__text">Заказов</p>
        <span class="statics__result">6 514</span>
    </li>
    <!-- /.statics__item -->
</ul>
<!-- /.statics__list -->
</div>
<!-- /.statics card -->

        </div>
        <!-- /.exchange-filters-modal__inner -->
      </div>
      <!-- /.exchange-filters-modal -->
<div id='cards_list'>
    {%include 'Order/order_list.html'%}
</div>
      <!-- <div class="exchange-cards__pagination pagination">
        <div class="pagination__img">
          <svg class="pagination__img">
            <use xlink:href="img/icons/sprite.svg#arrow-prev"></use>
          </svg>
        </div>
        <ul class="pagination__list">
          <li><a href="" class="pagination__link">1</a></li>
          <li><a href="" class="pagination__link">2</a></li>
          <li><a href="" class="pagination__link">3</a></li>
          <li><a href="" class="pagination__link">4</a></li>
          <li><a href="" class="pagination__link">5</a></li>
          <li><a href="" class="pagination__link">...</a></li>
          <li><a href="" class="pagination__link">17</a></li>
        </ul>
        <div class="pagination__img pagination__img--next">
          <svg class="pagination__img ">
            <use xlink:href="img/icons/sprite.svg#arrow-prev"></use>
          </svg>
        </div>
      </div> -->
      <!-- /.exchange-cards__pagination -->

      <!-- <button class="exchange-cards__next-button btn">Больше</button> -->
      <!-- /.exchange-cards__next-button -->
    </div>
    <!-- /.exchange-cards -->
  </main>
  <!-- /.exchange-main -->
</div>
<!-- /.container -->
{%endblock%}
