{%load static%}
<div class="filters__category-modal modal-open" id="popup4">
      <div class="filters__category-content">
        <ul class="filters__category-list">

          <li class="filters__category-item">
            <div class="filters__category-check">
              <input type="checkbox" name="" id="category1">
              <label for="category1"></label>
            </div>
            <!-- /.filters__category-check -->
            <div class="filters__dropdown dropdown">
              <div class="filters__category-name">
                <p>Дизайн</p>
                <img src="{% static  'Manage/admin/segur/img/shevron.svg' %}" alt="shevron" class="filters__category-img">
              </div>
              <!-- /.filters__category-name -->
              <div class="filters__category-links">
                <ul>
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Логотип и брендинг
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Презентации и инфографика
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Арт и иллюстрации
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Веб и мобильный дизайн
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Обработка и редактирование
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Интерьер и экстерьер
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Промышленный дизайн
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                  <li class="filters__category-name-link">
                    <a href="" class="filters__category-link">
                      Наружная реклама
                    </a>
                    <!-- /.filters__category-link -->
                  </li>
                  <!-- /.filters__category-name-link -->
                </ul>
              </div>
              <!-- /.filters__category-links -->
            </div>
            <!-- /.filters__dropdown dropdown -->
          </li>
          <!-- /.filters__category-item -->
      </ul>
      <!-- /.filters__category-list -->
    </div>
    <!-- /.filters__category-content -->
  </div>
  <!-- /.filters__category-modal modal-open -->
