{%load static%}
<div class="task-card card">
  <div class="task-card__description">
      <h3 class="task-card__title">{{order.name}}</h3>
      <span class="task-card__label">{{order.rubric}}</span>
      <p class="task-card__text">
          {{order.descr}}
      </p>
  </div>

<!-- /.task-card__description -->
<div class="task-card__timer">
<div class="task-card__timer-descr">
  <div class="task-card__price">
      <svg class="task-card__price--i">
          <use xlink:href="{% static  'Manage/admin/segur/img/icons/sprite.svg' %}#price"></use>
      </svg>
      <p class="task-card__price--text">{{order.price|floatformat:0}}</p>
  </div>
  <div class="task-card__time">
      <svg class="task-card__time--i">
          <use xlink:href="{% static  'Manage/admin/segur/img/icons/sprite.svg' %}#geer"></use>
      </svg>
      <p class="task-card__time--text"><span>19</span> ч</p>
  </div>
</div>
<a href="" class="task-card__detailed">Подробнее</a>
</div>
<!-- /.task-card__timer -->

</div>
<!-- /.task-card card -->
